@import "tailwindcss";
@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #d87d4a;
  --color-secondary: #f1f1f1;
  --color-primary-two: #fbaf85;
  --color-black-two: #101010;
  --color-white-two: #fafafa;
  --color-header-bottom: rgba(151, 151, 151, 0.1);
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-last-point: 1150px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

html {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}

body {
  @apply font-medium text-[0.938rem] leading-[1.563rem];
}

button {
  @apply font-bold text-[0.813rem] tracking-[1px] uppercase;
}

/* utilities classes */

.container {
  @apply max-w-[1110px] mx-auto;
}

.section-inline-padding {
  @apply last-point:px-0  sm:px-10 px-5;
}

.line-over {
  @apply text-sm tracking-[10px] uppercase;
}

.subtitle {
  @apply text-[0.813rem] leading-[25px] tracking-[0.93px] text-primary;
}

button {
  @apply px-7.5 py-4 transition-[background-color] duration-200;
}

.primary-button {
  @apply text-white bg-primary;
}

.primary-button:hover {
  @apply bg-primary-two;
}

.secondary-button {
  @apply text-black border border-black;
}

.secondary-button:hover {
  @apply bg-black text-white;
}

.link-button {
  @apply text-black opacity-50 flex items-center gap-x-3.5 transition-colors duration-200 cursor-pointer p-0;
}

.link-button > .icon {
  @apply text-primary font-bold;
}

.link-button:hover {
  @apply text-primary;
}

.icon {
  @apply text-white transition-colors duration-200 cursor-pointer;
}

.icon:hover {
  @apply text-primary;
}

.none {
  @apply hidden;
}

.flex {
  @apply flex;
}
