:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #d87d4a;
  --color-secondary: #f1f1f1;
  --color-primary-two: #fbaf85;
  --color-black-two: #101010;
  --color-white-two: #fafafa;
  --color-header-bottom: #979797;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}

body {
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 25px;
  letter-spacing: 0px;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  font-weight: 700;
  font-size: 0.813rem;
  letter-spacing: 1px;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
}

/* base classes */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-align: left;
}
h1 {
  font-size: 3.5rem;
  line-height: 58px;
  letter-spacing: 2px;
}

h2 {
  font-size: 2.5rem;
  line-height: 44px;
  letter-spacing: 1.43px;
}

h3 {
  font-size: 2rem;
  line-height: 36px;
  letter-spacing: 1.14px;
}

h4 {
  font-size: 1.75rem;
  letter-spacing: 2px;
}

h5 {
  font-size: 1.5rem;
  letter-spacing: 1.71px;
}

h6 {
  font-size: 1.125rem;
  letter-spacing: 1.29px;
}
