.overline {
  font-size: 0.875rem;
  letter-spacing: 10px;
  color: var(--color-primary);
}

.subtitle {
  font-size: 0.813rem;
  line-height: 25px;
  letter-spacing: 0.93px;
  color: var(--color-primary);
}

.primary-button,
.secondary-button {
  padding: 15px 30px;
  transition: background-color 0.2s linear;
}

.primary-button {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.primary-button:hover {
  background-color: var(--color-primary-two);
}

.secondary-button {
  color: var(--color-black);
  border: 1px solid var(--color-black);
}

.secondary-button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.link-button {
  color: var(--color-black);
  opacity: 0.5;
  display: flex;
  align-items: center;
  row-gap: 13px;
  transition: color 0.2s linear;
  cursor: pointer;
}

.link-button > .icon {
  color: var(--color-primary);
  font-weight: 700;
}

.link-button:hover {
  color: var(--color-primary);
}
