.mobile-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - 80px);
  color: var(--color-white);
  list-style-type: none;
  transition: height 0.2s linear;
  margin-inline: 40px;
  height: 202px;
  overflow: hidden;
  overflow: hidden;
  @starting-style {
    height: 0;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-inline: 0;
  }
}

.no-height {
  height: 0 !important;
}

.mobile-nav > li {
  font-weight: bold;
  font-size: 0.813rem;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding-block: 10px;
}

.mobile-nav > li:first-child {
  border: 1px solid white;
}

@media screen and (max-width: 1024px) {
  .mobile-nav {
    display: flex;
  }
}
