.wrapper {
  background-color: var(--color-black);
  position: relative;
}

.header {
  padding-block: 32px 36px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-header-bottom);
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 42px;
}

.logo > svg {
  display: none;
}

.nav {
}

.nav > ul {
  display: flex;
  align-items: center;
  column-gap: 34px;
  list-style: none;
}

.nav > ul > li {
  font-weight: 700;
  font-size: 0.813rem;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.2s linear;
  color: var(--color-white);
}

.nav > ul > li:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 1024px) {
  .nav {
    display: none;
  }
  .logo > svg {
    display: inline;
  }
}
